$primary: hsl(25, 97%, 53%);
$secondary: hsl(216, 12%, 8%);
$dark: hsl(216, 12%, 8%);

$font-size-base: 15px;


// --------------- Import Bootstrap ----------------------------------
@import "../node_modules/bootstrap/scss/bootstrap";